* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background: #d7d7d7;*/
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  /*background: linear-gradient(to right, #EBE9EA, #9B9595);*/
  background: linear-gradient(45deg, rgba(232, 230, 231, 0) , rgba(156,151,148,1));
}

#todo {
  padding: 0px 0px 0px 0px;
  width: 590px;
  height: 835px;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  gap: 0px;
  
}

.fondo {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-rows: repeat(9, auto);
  gap: 0px;
  color: white;
 
  filter: drop-shadow(8px 00px 3px #9A9693);

  font-family: 'Noto Serif JP', serif;
  font-size: 90px;
  z-index: 0;
  line-height: 0.25em;
  grid-row: 1/2;
  grid-column: 1/2;
  mix-blend-mode: color-burn;
}

.figura {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-rows: repeat(9, auto);
  line-height: 0.25em;
  gap: 0px;

  color: #CA0B1D;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  mix-blend-mode: color-burn;
  /*opacity: 100%;*/
  z-index: 1;
  grid-row: 1/2;
  grid-column: 1/2;
}

.text {
  display: grid;

  /*grid-template-columns: repeat( 26, auto);*/
  /*grid-template-rows: repeat(8,auto);*/
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  line-height: 0.25em;
  gap: 0px;
  z-index: 0;
  grid-row: 1/2;
  grid-column: 1/2;

  color: #CA0B1D;
  font-family: 'Oswald', sans-serif;
  mix-blend-mode: color-burn;
}

#good {
  grid-row: 2/3;
  grid-column: 2/8;
}

#typo {
  grid-row: 3/4;
  grid-column: 2/8;
}

#graphy {
  grid-row: 4/5;
  grid-column: 2/8;
}

#is {
  grid-row: 5/6;
  grid-column: 3/5;
}

#invisi {
  grid-row: 6/7;
  grid-column: 2/8;
}

#ble {
  grid-row: 7/8;
  grid-column: 3/6;
}

#bad {
  grid-row: 2 / 3;
  grid-column: 2 /8;
}

#typogr {
  grid-row: 3/4;
  grid-column: 2/8;
}

#aphy {
  grid-row: 4/5;
  grid-column: 6/10;
}

#is2 {
  grid-row: 5/6;
  grid-column: 6/8;
}

#every {
  grid-row: 6/7;
  grid-column: 2/7;
}

#where {
  grid-row: 7/8;
  grid-column: 5/10;
}

#text {
  grid-row: 21/22;
  grid-column: 5/7;
 
  font-size: 10;
  line-height: 1;
}

#text2 {
  grid-row: 22/24;
  grid-column: 5/8;
  color: #BBB5B5;
  z-index: 1;
  font-size: 7;
  line-height: 1;
  mix-blend-mode: luminosity;
}

#slash {
  grid-row: 22/25;
  grid-column: 7/8;
 

  font-size: 80;
}

#logo {
  grid-row: 23/24;
  grid-column: 5/6;
  color: #BBB5B5;
  z-index: 1;
  margin-top: 10px;
  

}

#bucks {

  grid-row: 23/24;
  grid-column: 5/6;
  color: #BBB5B5 ;
  z-index: 1;
  margin-left: 30px;
  margin-top: 20px;
}
